@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: orange;
  --color-header-text: #202329;
  --color-main-text: #e0ffff;
  --color-background-header: white;
  --color-background-main: rgb(46, 43, 43);
  --color-background-card: #3c3e44;

  /* FONT */
  --font-family-headline: "Poppins", sans-serif;
  --font-family-text: "Inconsolata", monospace;

  /* BORDERS */
  --border-radius: 15px;
}

body {
  font-family: var(--font-family-text);
  margin: 0;
  background-color: var(--color-background-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
}

header {
  background-color: var(--color-background-header);
  color: var(--color-header-text);
  text-align: center;
  padding: 4rem 2rem;
}

main {
  background-color: var(--color-background-main);
  color: var(--color-main-text);
  padding: 2rem;
}
